<!DOCTYPE html>
<html lang="en">
  <head>
    <body>
    </body>
  </head>
</html>
<!---->
<html> 
<head>
  <title>Testing</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/demo.css}"><!--import css-->
</head>
<!--<style>
  .background{
    background-color: aqua;
  }
</style> -->
<body class="background">
    <h1 style="color: brown;">Hello World</h1> <!--heading-->
    <h2>Hello<br> World</h2><!--break line-->
    <p style="font-family:verdana;">Testing123</p> <!--paragraph-->
    <b>Megu <sub>Fire </sub>Megu</b> <!--字型-->
    <i>Hello world</i>
    <em>67Abc</em><br>
    <del>Hello World</del>
    <ins>Hello World</ins><br>
    <a href="https://www.apple.com/hk/" target="_blank" >visit apple</a> <!--link-->
    <img th:src="@{/images/images.jpeg}" alt="stock"><!--image-->
  </body>
</html>

<!--
-->