<!DOCTYPE html>
<html>
  <title>chart</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/demo.css}"><!--import css-->
  <body><!--iframe-->
    <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" height="800px" width="100%" title="YouTube Video"></iframe>
    <table class="table">  <!--table-->
      <thead>Random</thead>
      <tr>
        <th>Sports</th>
        <th>Fruits</th>
        <th>Age</th>
      </tr>
      <tr>
        <td>Bball</td>
        <td>Melon</td>
        <td>20</td>
      </tr>
      <tr>
        <td>Ftball</td>
        <td>Apple</td>
        <td>20</td>
      </tr>
    </table>
    <form>
      <label for="fname">First name:</label><br>
      <input type="text" id="fname" name="fname"><br>
      <label for="lname">Last name:</label><br>
      <input type="text" id="lname" name="lname"><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>