<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokemon Battle</title>
  <link rel="stylesheet" href="./src/assets/index.css">
</head>
<body>
  <div id="app" class="container">
    <h1>Pokemon Battle Simulator</h1>

    <div class="input-box" v-show="showInputBox">
      <input type="number" v-model="character1Id" placeholder="Enter Character 1 ID">
      <input type="number" v-model="character2Id" placeholder="Enter Character 2 ID">
      <button @click="fetchCharacters">Submit</button>
    </div>

    <div class="pokemon-box" :style="{ opacity: showCharacterBox ? 1 : 0 }">
      <!-- Character 1 -->
      <div v-if="character1" class="pokemon-card">
        <div class="hp-bar-container">
          <div class="hp-bar" :style="{ width: character1HPPercentage + '%' }"></div>
          <div class="hp-text">{{ character1HPPercentage }}%</div>
        </div>
        <div class="mp-bar-container">
          <div class="mp-bar" :style="{ width: character1MP }"></div>
          <div class="mp-text">{{ character1.base.MP }} MP</div>
        </div>
        <div class="action-bar-container">
          <div class="action-bar" :style="{ width: character1ActionPercentage + '%' }"></div>
          <div class="action-text">{{ character1ActionPercentage }}%</div>
        </div>
        <h2>{{ character1.name.chinese }}</h2>
        <img :src="getImageUrl(character1.image)" alt="Character 1 Image">
        <ul class="pokemon-stats">
          <li>HP: {{ character1CurrentHP }} / {{ character1.base.HP }}</li>
          <li>MP: {{ character1.base.MP }}</li>
          <li>Attack: {{ character1.base.Attack }}</li>
          <li>Defense: {{ character1.base.Defense }}</li>
          <li>Speed: {{ character1.base.Speed }}</li>
        </ul>
      </div>

      <!-- Character 2 -->
      <div v-if="character2" class="pokemon-card">
        <div class="hp-bar-container">
          <div class="hp-bar" :style="{ width: character2HPPercentage + '%' }"></div>
          <div class="hp-text">{{ character2HPPercentage }}%</div>
        </div>
        <div class="mp-bar-container">
          <div class="mp-bar" :style="{ width: character2MP }"></div>
          <div class="mp-text">{{ character2.base.MP }} MP</div>
        </div>
        <div class="action-bar-container">
          <div class="action-bar" :style="{ width: character2ActionPercentage + '%' }"></div>
          <div class="action-text">{{ character2ActionPercentage }}%</div>
        </div>
        <h2>{{ character2.name.chinese }}</h2>
        <img :src="getImageUrl(character2.image)" alt="Character 2 Image">
        <ul class="pokemon-stats">
          <li>HP: {{ character2CurrentHP }} / {{ character2.base.HP }}</li>
          <li>MP: {{ character2.base.MP }}</li>
          <li>Attack: {{ character2.base.Attack }}</li>
          <li>Defense: {{ character2.base.Defense }}</li>
          <li>Speed: {{ character2.base.Speed }}</li>
        </ul>
      </div>
    </div>

    <!-- Battle Log -->
    <div v-if="battleLog" class="battle-log">
      <p>{{ battleLog }}</p>
    </div>
    <!-- <div>
      <button>Restart</button>
    </div> -->
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="./src/index.js"></script>

</body>
</html>