

/* StockA,B */
.test-table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}
th, td{
  padding: 0.5rem;
  border: 1px solid #000000;
  text-align: left;
}

/* StoreAType */
.abody {
  font-family: Arial, sans-serif;
  margin: 20px;
}
.atable {
  width: 100%;
  border-collapse: collapse;
}
.th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}
.th {
  background-color: #f2f2f2;
}
.aimg {
  width: 200px;
  height: auto;
  margin-right: 5px;
}
.acaption {
  text-align: left;
  font-weight: bold;
  margin-bottom: 10px; 
}

/* StoreBType */
.bbody {
  font-family: Arial, sans-serif;
  margin: 20px;
}
.btable {
  width: 100%;
  border-collapse: collapse;
}
.th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}
.th {
  background-color: #f2f2f2;
}
.bimg {
  width: 200px;
  height: auto;
  margin-right: 5px;
}
.bcaption {
  text-align: left;
  font-weight: bold;
  margin-bottom: 10px; 
}